<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center">Burger Yummy Tracker</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h3 class="text-center" id="section-title">Burger Yummy Has Not Eaten</h3>
        <br>
        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col-lg-6">
        <h3 class="text-center" id="section-title">Burger Yummy Has Eaten</h3>
        <br>
        <ul>
            {{#each burgers}}
                {{#if devoured}}
                    {{> burgers/burger-block devoured=false}}
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
